.about-us-container {
    height: 100vh;
    overflow-y: auto;
}
.about-us * {
    box-sizing: border-box;
}

.about-us,
.about-us-subheading {
    color: #000;
    text-align: center;
    font-family: "Inter-Italic", sans-serif;
    font-weight: 700;
}

.about-us {
    font-size: 50px;
    padding: 50px 0 10px;
}

.about-us-subheading {
    font-size: 25px;
    padding-bottom: 30px;
}

.about-us-body {
    color: #000000;
    font-family: "Inter-ExtraLightItalic", sans-serif;
    font-size: 25px;
    font-weight: 200;
    padding: 0 50px 50px;
}

.ace-red-title{
    color: #ff0000;
    font-style: italic;
}

.ace-red-subheading{
    color: #ff0000;
    font-weight:700;
    text-decoration: underline;
}

.contact-us{
    color: #000000;
    font-family: "Inter-ExtraLightItalic", sans-serif;
    font-size: 16px;
    font-weight: 200;
    padding: 25px 50px 50px;
}

/*main container to hold the left and right halves*/
.container {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0 auto;
    padding: 40px 60px;
    gap: 60px;
}

/*left half*/
.left-half {
    width: 100%;
}

/*right half*/
.right-half {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 100px;
}

.button1,
.button2 {
    background-color: #f00;
    color: #fff;
    text-align: left;
    font-weight: 700;
    border-radius: 14px;
    margin-top: 30px;
    padding: 10px;
    width: 85%;
}

.button1 {
    font-size: 50px;
    text-decoration: none;
}

.button1:hover {
    background-color: #b80909;
    text-align: left;
}

.button2 {
    font-size: 35px;
    cursor: pointer;
}

/* how the email button is shown */
.E-Button {
    background: none;
    border: none;
    box-shadow: none;
    color: white;
    font-size: 1.0em;
    transition: color 0.2s ease, transform 0.2s ease;
    cursor: pointer;
}

/* Hovering effects */
.E-Button:hover {
    background: white;
    border: black;
    border-radius: 6px;
    color: red;
    transform: translateY(-3px);
}

/*container of pop-up screen (relying on opac so transition can be seen*/
.modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 2000;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.25s ease-out;
}

.modal-content img {
    width: 95%;
    height: auto;
    object-fit: contain;
}

/*open pop-up screen (state set)*/
.modal.show {
    opacity: 1;
    pointer-events: auto;
}

/*content of pop-up screen*/
.modal-content {
    /*set content window size*/
    width: 200px;
    height: 650px;
    background: none;
    border-radius: 15px;

    /*alignment of the actual content*/
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;

    /*transition effect*/
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.6s ease-out, opacity 0.33s ease-out;
}

/*linking open window window with content*/
.modal.show .modal-content {
    transform: translateX(0);
    opacity: 1;
}

/*centralize each item*/
.modal-content a {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 200px;
    height: 200px;

    font-size: 70px;
    line-height: 1;

    color: white;
    border-radius: 15px;
    text-decoration: none;
    cursor: pointer;

    transition: transform 0.2s ease, color 0.2s ease;
}

/*used to handle closing of pop-up screen*/
.close {
    position: relative;
    top: 10px;
    right: 12px;
    font-size: 24px;
    cursor: pointer;
}

/*icon handling*/
.Gmail {
    background-color: #EA4335;
}

.Outlook {
    background-color: #0072C6;
}

.Yahoo {
    background-color: #430297;
}

.Gmail:hover,
.Outlook:hover,
.Yahoo:hover {
    transform: translateY(-5px);
    background-color: #fff;
}

.social-icons {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.social-icons a {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 80px;   /* increase size */
    color: black;
    height: 150px;      /* gives them clickable area */
    border-radius: 10px;

    transition: transform 0.2s ease, color 0.2s ease;
    background-color: #f2f2f2;
}

.social-icons a:hover {
    transform: translateY(-3px);
    color: white;
    background-color: red;
}