html, body {
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

.grid {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  background: #f8f8f8;

  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  height: auto;
  min-height: 80vh;
  padding: 40px 20px;
  box-sizing: border-box;
}

.card {
  position: relative;
  height: 62.5vh;
  flex-shrink: 0;
  background: rgb(255, 50, 55);
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(0,0,0,.1);
  padding: 20px;
}

.card img {
  display: block;
  height: 62.5vh;
  width: 100%;
  object-fit: contain;
}

.card figcaption {
  margin-top: 10px;
  padding-bottom: 5px;
  font-size: 14px;
  color: #333;
}


