html, body {
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

.grid {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  background: #f8f8f8;

  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  height: auto;
  min-height: 80vh;
  padding: 40px 20px;
  box-sizing: border-box;
}

.card {
  position: relative;
  min-height: 400px;
  flex-shrink: 0;
  background: white;
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(0,0,0,.1);
  padding: 12px;
  text-align: center;
  scroll-snap-align: center;
  flex-direction: column;
}

.card img {
  display: block;
  height: 70vh;
  width: 100%;
  object-fit: contain;
  background: #fff;
  flex-grow: 1;
  margin: 0;
  padding: 0;
}

.card figcaption {
  margin-top: 10px;
  padding-bottom: 5px;
  font-size: 14px;
  color: #333;
}

.remove-btn {
  position: absolute; top: 10px; right: 10px;
  width: 28px; height: 28px;
  border: 0; border-radius: 50%;
  background: rgba(0,0,0,.65); color: #fff;
  cursor: pointer;
}
.remove-btn:hover { background: rgba(255,0,0,.85); }
