.security-header {
    color: #000000;
    text-align: center;
    font-family: "Inter-Italic", sans-serif;
    font-size: 50px;
    font-weight: 700;
    padding-bottom: 10px;
}

.security-subheading{
    color: #000000;
    text-align: center;
    font-family: "Inter-Italic", sans-serif;
    font-size: 18px;
}

.security-body {
    color: #000000;
    font-family: "Inter-ExtraLightItalic", sans-serif;
    font-size: 16px;
    font-weight: 200;
    padding-left: 50px;
    padding-right: 50px;

}

.ace-red-subheading{
    color: #ff0000;
}