/* Make the footer stick to the bottom */
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
  font-family: Arial, sans-serif;
}

footer a {
    color: white;
    text-decoration: none;
}

/* Social icons */
.social-icons {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 5px;
}

.social-icons a {
  color: white;
  font-size: 28px;
  transition: transform 0.3s, color 0.3s;
}

.social-icons a:hover {
  transform: scale(1.2);
}

.footer_logo {
  width: 400px;
  height: auto;
}

/* Footer text areas */
.footer_top {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  flex-wrap: wrap; 
  text-align: left;
  padding: 10px 0;
}

.footer_left, .footer_center, .footer_right {
  flex: 1; 
  padding: 10px;
  min-width: 20px;
}

.footer_left {
  text-align: left;
}
.footer_center {
  text-align: center;
}
.footer_right {
  text-align: right;
}
.footer_bottom {
  border-top: 1px solid #555;
  padding-top: 10px;
  font-size: 0.9em;
  color: #ccc;
}

.footer_center p {
    margin: 15px 0;
}
