html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
    flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
  background-color: #D9D9D9;
  color: #222;
  padding: 5px;
  text-align: center;
  font-family: Arial, sans-serif;
}

footer a {
    color: #222;
    text-decoration: none;
}

/* Social icons */
.social-icons {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-bottom: 5px;
}

.social-icons a {
  color: #222;
  font-size: 75px;
  transition: transform 0.3s, color 0.3s;
}

.social-icons a:hover {
  transform: scale(1.2);
}

.footer_logo {
  width: 250px;
  height: auto;
}

/* Footer text areas */
.footer_top {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  flex-wrap: wrap; 
  text-align: left;
  padding: 5px 0;
}

.footer_left, .footer_center, .footer_right {
  flex: 1; 
  padding: 1px;
  min-width: 10px;
}

.footer_left {
  text-align: left;
}
.footer_center {
  text-align: center;
}
.footer_right {
  text-align: right;
}
.footer_bottom {
  border-top: 1px solid #555;
  padding-top: 10px;
  font-size: 0.9em;
  color: #222;
}

.footer_center p {
    margin: 15px 0;
}

/*how the email button is show*/
.E-Button {
    background: none;
    border: none;
    box-shadow: none;
    color: #ffffff;
    font-size: 1.0em;
    transition: color 0.2s ease, transform 0.2s ease;
    cursor: pointer;
}

.E-Button:hover {
    background: white;
    border: black;
    border-radius: 6px;
    color: #ff0000;
    transform: translateY(-2px);
}

/*container of pop-up screen (relying on opac so transition can be seen*/
.modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.25s ease-out;
}

/*open pop-up screen (state set)*/
.modal.show {
    opacity: 1;
    pointer-events: auto;
}

/*content of pop-up screen*/
.modal-content {
    /*set content window size*/
    width: 500px;
    height: 650px;
    background: #ffffff;
    border-radius: 15px;

    /*alignment of the actual content*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

    /*transition effect*/
    transform: translateY(100vh);
    opacity: 0;
    transition: transform 0.6s ease-out, opacity 0.33s ease-out;
}

/*linking open window window with content*/
.modal.show .modal-content {
    transform: translateY(0);
    opacity: 1;
}

/*centralize each item*/
.modal-content a {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 475px;
    height: 200px;

    font-size: 70px;
    line-height: 1;

    color: white;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;

    transition: transform 0.2s ease, color 0.2s ease;
}

/*used to handle closing of pop-up screen*/
.close {
    position: relative;
    top: 10px;
    right: 12px;
    font-size: 24px;
    cursor: pointer;
}

/*icon handling*/
.Gmail {
    background-color: #EA4335;
}

.Gmail:HOVER {
    background-color: #D53F2F;
    transform: translateY(-5px);
}

.Outlook {
    background-color: #0072C6;
}

.Outlook:HOVER {
    background-color: #006CB3;
    transform: translateY(-5px);
}

.Yahoo {
    background-color: #430297;
}

.Yahoo:HOVER {
    background-color: #35027A;
    transform: translateY(-5px);
}