html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
  background-color: #E41E26;
  color: #FFFFFF;
  padding: 10px 20px;
  text-align: center;
  font-family: Arial, sans-serif;
}

footer a {
    color: #FFFFFF;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 0 auto;
}

.social-icons a {
  color: #FFFFFF;
  font-size: 44px;
}

.footer_logo {
  width: 240px;
  height: auto;
}

.footer_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px 0;
}

.footer_left,
.footer_center,
.footer_right {
  flex: 1;
  padding: 10px;
}

.footer_left {
  text-align: left;
}

.footer_center {
  text-align: center;
  display: flex;
  justify-content: center;
}

.footer_right {
  text-align: right;
}

.footer_bottom {
  border-top: 1px solid rgba(255,255,255,0.4);
  padding-top: 10px;
  font-size: 0.9em;
}
