html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
    flex: 1 0 auto;
}

footer {
  margin-top: auto;
  background-color: #E41E26;
  color: #FFFFFF;
  padding: 10px 20px;
  flex-shrink: 0;
  text-align: center;
  font-family: Arial, sans-serif;
}

footer a {
    color: #FFFFFF;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 0 auto;
}

.social-icons a {
  color: #FFFFFF;
  font-size: 44px;
}

.footer_logo {
  width: 240px;
  height: auto;
}

.footer_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px 0;
}

.footer_left,
.footer_center,
.footer_right {
  flex: 1;
  padding: 10px;
}

.footer_left {
  text-align: left;
}

.footer_center {
  text-align: center;
  display: flex;
  justify-content: center;
}

.footer_right {
  text-align: right;
}

.footer_bottom {
  border-top: 1px solid rgba(255,255,255,0.4);
  padding-top: 10px;
  font-size: 0.9em;
}

/*how the email button is show*/
.E-Button {
    background: none;
    border: none;
    box-shadow: none;
    color: #ffffff;
    font-size: 1.0em;
    transition: color 0.2s ease, transform 0.2s ease;
    cursor: pointer;
}

.E-Button:hover {
    background: white;
    border: black;
    border-radius: 6px;
    color: #ff0000;
    transform: translateY(-2px);
}

/*container of pop-up screen (relying on opac so transition can be seen*/
.modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 2000;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.25s ease-out;
}

.modal-content img {
    width: 95%;
    height: auto;
    object-fit: contain;
}

/*open pop-up screen (state set)*/
.modal.show {
    opacity: 1;
    pointer-events: auto;
}

/*content of pop-up screen*/
.modal-content {
    /*set content window size*/
    width: 200px;
    height: 650px;
    background: none;
    border-radius: 15px;

    /*alignment of the actual content*/
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;

    /*transition effect*/
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.6s ease-out, opacity 0.33s ease-out;
}

/*linking open window window with content*/
.modal.show .modal-content {
    transform: translateX(0);
    opacity: 1;
}

/*centralize each item*/
.modal-content a {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 200px;
    height: 200px;

    font-size: 70px;
    line-height: 1;

    color: white;
    border-radius: 15px;
    text-decoration: none;
    cursor: pointer;

    transition: transform 0.2s ease, color 0.2s ease;
}

/*used to handle closing of pop-up screen*/
.close {
    position: relative;
    top: 10px;
    right: 12px;
    font-size: 24px;
    cursor: pointer;
}

/*icon handling*/
.Gmail {
    background-color: #EA4335;
}

.Gmail:HOVER {
    transform: translateY(-5px);
    background-color: #ffffff;
}

.Outlook {
    background-color: #0072C6;
}

.Outlook:HOVER {
    transform: translateY(-5px);
    background-color: #ffffff;
}

.Yahoo {
    background-color: #430297;
}

.Yahoo:HOVER {
    transform: translateY(-5px);
    background-color: #ffffff;
}